<!DOCTYPE html>
<html lang="en" ng-app="Blog">

	<head>
		<title>Blog</title>
		<base href="/">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<link rel="stylesheet" href="styles/bootstrap.css">
		<link rel="stylesheet" href="styles/blog.css">
	</head>

	<body ng-controllers="Blog">

		<div class="blog-masthead">
			<div class="container">
			<nav class="blog-nav">
				<a class="blog-nav-item active" href="/">Home</a>
				<a class="blog-nav-item" href="a.html" target="_top">Page</a>
			</nav>
			</div>
		</div>

		<div class="container">
			<div class="blog-header" ng-controller="Blog">
				<h1 class="blog-title" ng-cloak>{{meta.site_name}}</h1>
				<p class="lead blog-description" ng-cloak>{{meta.site_sub_name}}</p>
			</div>

			<div class="row">
				<div class="col-sm-8 blog-main" ng-view></div>
				<div class="col-sm-3 col-sm-offset-1">
					<div class="sidebar-module sidebar-module-inset">
						<h4>About</h4>
						<p>This is a static blog hosted by github.</p>
						<p>A quick brown fox jumps over the lazy dog.</p>
						<p>This is a static blog hosted by github.</p>
						<p>A quick brown fox jumps over the lazy dog.</p>
						<p>This is a static blog hosted by github.</p>
						<p>A quick brown fox jumps over the lazy dog.</p>
					</div>
					<div class="sidebar-module">
						<h4>Links</h4>
						<ol class="list-unstyled">
							<li><a href="http://github.com/">Github</a></li>
							<li><a href="http://www.google.com/">Google</a></li>
							<li><a href="http://www.baidu.com/">Baidu</a></li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<footer class="blog-footer">
			<p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
			<p><a href="#">Back to top</a></p>
		</footer>

		<!-- template start -->
		<script type="text/ng-template" id="templates/home.html">
			<div class="blog-post" ng-repeat="post in posts">
				<h2 class="blog-post-title"><a href="/post/{{post.file}}">{{post.title?post.title:post.file}}</a></h2>
				<p class="blog-post-meta">
					<span>{{post.date?post.date:'writing date not provided'}}</span>
					<a href="/tag/{{tag}}" ng-repeat="tag in post.tags"><span class="label label-info mr5">{{tag}}</span></a>
				</p>
				<div class="blog-post-content" ng-bind-html="post.summary|markdown"></div>
				<p class="text-right"><a href="/post/{{post.file}}">read more »</a></p>
			</div>
		</script>
		<script type="text/ng-template" id="templates/post.html">
			<div class="blog-post">
				<h2 class="blog-post-title">{{post.title?post.title:post.file}}</h2>
				<p class="blog-post-meta">
					<span>{{post.date?post.date:'writing date not provided'}}</span>
					<a href="/tag/{{tag}}" ng-repeat="tag in post.tags"><span class="label label-info mr5">{{tag}}</span></a>
				</p>
				<div class="blog-post-content" ng-bind-html="post.content|markdown"></div>
			</div>
			<div duoshuo data-thread-key="{{post.file}}" data-title="{{post.title?post.title:post.file}}" data-url="/post/{{post.file}}"></div>
		</script>
		<script type="text/ng-template" id="templates/404.html">
			<div>Page Not Found.</div>
		</script>
		<!-- template end -->

		<script>duoshuoQuery={short_name:"github404blog"}</script>
		<script src="scripts/lib/angular.min.js"></script>
		<script src="scripts/lib/angular-route.min.js"></script>
		<script src="scripts/lib/showdown.js"></script>
		<script src="scripts/lib/angular-sanitize.min.js"></script>
		<script src="//static.duoshuo.com/embed.js"></script>
		<script src="scripts/blog.js"></script>
	</body>
</html>
